/*Animate the logo with keyframes. The animation start at a width of 25px and grow to 475px.  
It also start with an opacity of 0 and end with an opacity of 1. */
@keyframes mymove {
    from {width: 25px;}
    to {width: 475px;}
    from {opacity: 0;}
    to {opacity: 1;}
}

/*The animation take 5 seconds. */
#logo {
    animation-name: mymove;
    animation-duration: 5s;
}

/*The body element use the Poppins font with serif as a backup.  
It also use the image “concrete_seamless.png” from a folder named "images" as a background-image.
It uses a backup color of #f1f1f1.*/ 
body {
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/*Use flex-direction: column to make logo stack on nav*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Use flex-direction: column to make the three links distributed vertically.
  Use justify-content: center to center the three links.*/
.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Since the original color is blue, use pseudo class :visited to make visited links have the same color.*/
a:visited { 
    color: blue;
}


.card {
    border-radius: 50px 50px 0px 0px;
}

/*use > to select direct children header of care class. */
.card > header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px 50px 0px 0px;
}

/*
.Pricing is the flex container.
Justify-content:center centers cards horizontally. Align-items:center centers cards vertically.
Use flex-wrap:wrap to put cards into multiple lines.
*/

.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Use flex-basis to specify an initial “size” of 450px.*/
.card {
    flex-basis: 450px;
}

/*Set border, margin and width of images in gallery class.*/
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/*Justify-content:center centers cards horizontally. 
Use flex-wrap:wrap to put images into multiple lines.*/
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*Media Query*/
/*Use width: 100% to make it take up the width of the whole screen.
Use flex-direction: row in header to make logo and links on a same line, also use it in .nav_links to make three links also on the same line.
Use justify-content: space-between to make the logo as far to the left as ossible and the links as far to the right as possible.*/
 @media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .nav_links {
        flex-direction: row;
        justify-content: space-between;
    }

    .pricing {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /*Use flex-basis: 275px; to specify a “size” of 275px.*/
    .card {
        flex-basis: 275px;
    }
    /*The first header is the only direct child of body, so I use body > header.
     Use position: sticky to make it stick at top when scrolling down.*/
     body > header {
        position: sticky;
        top: 0;
     }
  }

    /*if prefers-reduced-motion is selected in the accessibility preferences, 
    use animation: none to make the animation not show.*/
  @media screen and (prefers-reduced-motion: reduce) { 
    #logo {
        animation: none;
    }
  }

  /*Media Query*/
  @media print {
    /*Use background-image: none to make the background show as the backup color.*/
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    nav {
        width: 100%;
    }

    /*Use justify-content: space-evenly to make the links evenly spaced.*/
    .nav_links {
        justify-content: space-evenly;
        flex-direction: row;
    }

    /*Use align-items: flex-end in the pricing class to make the elements vertically align along the bottom since value of flex-direction is row.*/
    .pricing  {
        align-items: flex-end;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .card {
        border: solid 2px #45ADDD;
        border-radius: 50px 50px 0px 0px;
        flex-basis: 325px;
        
    }

    /*Use display: none to make both the gallery heading and gallery class not visible.*/
    .gallery, #gallery{
        display: none;
    }

    /*Use pseudo class:nth-child(2) to select li's second child. 
    Use pesudo element ::afterput a thumb emoji after it add the thumbs up entity as shown in the cards. 
    Add main at the beginning so that the second link in header would not be selected.*/
    main li:nth-child(2)::after {
        content: "👍";
    }
}
  